<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiaye.cashloan">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LoanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.view.launch.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.view.launch.LaunchGestureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.guide.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.LoanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.view.loan.LoanAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.ocr.LoanAuthOCRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.visa.LoanAuthVisaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.face.LoanAuthFaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.info.LoanAuthInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.info.LoanAuthPersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.info.LoanAuthContactInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.phone.LoanAuthPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.taobao.LoanAuthTaoBaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.auth.sesame.LoanAuthSesameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.LoanDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.LoanProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.LoanBindBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.loan.LoanContractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.help.LoanAuthHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.auth.password.PasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.my.MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.view.my.credit.CreditActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>